{% extends 'admin_base.html' %}
{% block title %}Forbiden{% endblock %}
{% block content %}
<div class="container mx-auto my-5">
    <h1>Forbiden</h1>
    <hr>
    <p><a href="{{ url_for('admin.index') }}">Back</a></p>
</div>
{% endblock %}