{% extends 'admin_base.html' %}
{% block title %}Server Error!{% endblock %}
{% block content %}
<div class="container mx-auto my-5">
    <h1>Server Error</h1>
    <hr>
    <p><a href="{{ url_for('admin.index') }}">Back</a></p>
</div>
{% endblock %}