<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="noindex, nofollow">
  <title>{% block title %} {% endblock %} | Admin Crowindo Jaya</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custome.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
  {{ moment.include_jquery() }}
  {{ moment.include_moment() }}
  {{ moment.lang('id') }}
  {% endblock %}
</head>

<body id="page-top">

  {% include 'includes/admin_navbar.html' %}
  <div id="wrapper">
    {% include 'includes/admin_sidebar.html' %}
    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->

        {% block content %}{% endblock %}
      </div>

      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span><a href="mailto:admin@crowindojaya.com">Contact Webmaster</a></span>
          </div>
        </div>
      </footer>
    </div>
  </div>

  {{ pagedown.include_pagedown() }}

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Page level plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/sb-admin.min.js') }}"></script>

  <!-- Demo scripts for this page-->
  <script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>
</body>

</html>