{% extends 'admin_base.html' %}
{% block title %}Tambah Data Kategori{% endblock %}
{% block content %}
<div class="card card-register mb-3">
    <div class="card-header"><i class="fas fa-plus-circle"></i> Tambah Data Kategori</div>
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.name.label() }} {{ name }}
                    {{ form.name(class='form-control', placeholder='Nama Kategori') }}
                    {% if form.name.errors %}
                    <small class="form-text text-danger">
                        {% for error in form.name.errors %}
                        {{ error }}
                        {% endfor %}
                    </small>
                    {% endif%}
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.description.label() }} {{ message }}
                    {{ form.description(class='form-control', placeholder='Deskripsi', rows=5) }}
                    {% if form.description.errors %}
                    <small class="form-text text-danger">
                        {% for error in form.description.errors %}
                        {{ error }}
                        {% endfor %}
                    </small>
                    {% endif%}
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.photos.label() }} {{ message }}
                    {{ form.photos(class='form-control', accept="image/*") }}
                    {% if form.photos.errors %}
                    <small class="form-text text-danger">
                        {% for error in form.photos.errors %}
                        {{ error }}
                        {% endfor %}
                    </small>
                    {% endif%}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form.submit(class='btn btn-primary btn-lg btn-block') }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}