{% extends 'admin_base.html' %}
{% block title %}Profile Admin{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-dismissible fade show alert-primary" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <strong>{{ message }}</strong>
</div>
{% endfor %}
<div class="card card-register">
    <div class="card-header"><i class="fas fa-plus-circle"></i> Tambah Data Kategori</div>
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.old_password.label() }} {{ message }}
                    {{ form.old_password(class='form-control') }}
                    {% if form.old_password.errors %}
                    <small class="form-text text-danger">
                        {% for error in form.old_password.errors %}
                        {{ error }}
                        {% endfor %}
                    </small>
                    {% endif%}
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.password.label() }} {{ message }}
                    {{ form.password(class='form-control') }}
                    {% if form.password.errors %}
                    <small class="form-text text-danger">
                        {% for error in form.password.errors %}
                        {{ error }}
                        {% endfor %}
                    </small>
                    {% endif%}
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.password2.label() }} {{ message }}
                    {{ form.password2(class='form-control') }}
                    {% if form.password2.errors %}
                    <small class="form-text text-danger">
                        {% for error in form.password2.errors %}
                        {{ error }}
                        {% endfor %}
                    </small>
                    {% endif%}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form.submit(class='btn btn-primary btn-lg btn-block') }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}