{% extends 'admin_base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-dismissible fade show alert-primary" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <strong>{{ message }}</strong>
</div>
{% endfor %}
<h1>
  Hello,
  {% if current_user.is_authenticated %}
  {{ current_user.username }}
  {% else %}
  Stranger
  {% endif %}!
</h1>
<hr>
<div class="row">
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-warning o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-tag"></i>
        </div>
        <div class="mr-5">{% if cat > 0 %}{{ cat }} Kategori{% else %}Belum Ada Kategori{% endif %}</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="{{ url_for('admin.add_category') }}">
        <span class="float-left">Tambah Data</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-tag"></i>
        </div>
        <div class="mr-5">{% if pro > 0 %}{{ pro }} Produk{% else %}Belum Ada Produk{% endif %}</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="{{ url_for('admin.add_product') }}">
        <span class="float-left">Tambah Data</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-success o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-tag"></i>
        </div>
        <div class="mr-5">{% if con > 0 %}{{ con }} Mengirim Pesan{% else %}Belum Ada Pesan{% endif %}</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="{{ url_for('admin.view_contact') }}">
        <span class="float-left">Lihat Data</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  {% if current_user.is_administrator() %}
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-danger o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-tag"></i>
        </div>
        <div class="mr-5">{% if usr > 0 %}{{ usr }} User{% else %}Belum Ada User{% endif %}</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="{{ url_for('admin.view_user') }}">
        <span class="float-left">Lihat Data</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}