{% extends 'admin_base.html' %}
{% block title %}Tambah Data Produk{% endblock %}
{% block content %}
<div class="card card-register mb-3">
    <div class="card-header"><i class="fas fa-plus-circle"></i> Tambah Data Product</div>
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.title.label() }} {{ name }}
                    {{ form.title(class='form-control', placeholder='Nama Product') }}
                    {% if form.title.errors %}
                    <small class="form-text text-danger">
                        {% for error in form.title.errors %}
                        {{ error }}
                        {% endfor %}
                    </small>
                    {% endif%}
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.category.label() }} {{ message }}
                    {{ form.category(class='form-control') }}
                    {% if form.category.errors %}
                    <small class="form-text text-danger">
                        {% for error in form.category.errors %}
                        {{ error }}
                        {% endfor %}
                    </small>
                    {% endif%}
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.description.label() }} {{ message }}
                    {{ form.description(class='form-control', placeholder='Deskripsi', rows=5) }}
                    {% if form.description.errors %}
                    <small class="form-text text-danger">
                        {% for error in form.description.errors %}
                        {{ error }}
                        {% endfor %}
                    </small>
                    {% endif%}
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.photos.label() }} {{ message }}
                    {{ form.photos(class='form-control', accept="image/jpeg, image/png") }}
                    {% if form.photos.errors %}
                    <small class="form-text text-danger">
                        {% for error in form.photos.errors %}
                        {{ error }}
                        {% endfor %}
                    </small>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.documents.label() }} {{ message }} | <i> Max. 16MB </i>
                    {{ form.documents(class='form-control', accept="application/pdf") }}
                    {% if form.documents.errors %}
                    <small class="form-text text-danger">
                        {% for error in form.documents.errors %}
                        {{ error }}
                        {% endfor %}
                    </small>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {{ form.submit(class='btn btn-primary btn-lg btn-block') }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}