{% extends 'admin_base.html' %}
{% block title %}Profile Admin{% endblock %}
{% block content %}
<div class="card card-register">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <img class="img-rounded profile-thumbnail" src="{{ data.gravatar(size=180) }}" alt="">
            </div>
            <div class="col-8">
                <h1>{{ data.username }}</h1>
                <h6>{{ data.name }} ~ {{ data.email }}</h6>
                <small>User sejak {{ moment(data.create_on).format('LL') }}. Terakhir Terlihat
                    {{ moment(data.last_seen).fromNow() }}.</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}