<form method="POST" enctype="multipart/form-data" action="{{ url_for('uploads') }}" >
<div class="row">
    {{ form.hidden_tag() }}
    <div class="col-12 mb-3">
        {{ form.photos.label() }} {{ message }}
        {{ form.photos(class='form-control') }}
        {% if form.photos.errors %}
            <small class="form-text text-danger">
                {% for error in form.photos.errors %}
                    {{ error }}
                {% endfor %}
            </small>
        {% endif%}
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{ form.submit(class='btn btn-primary btn-lg btn-block') }}
    </div>
</div>
</form>