{% extends 'admin_base.html' %}
{% block title %}Profile Admin{% endblock %}
{% block content %}
<div class="card card-register mb-3">
    <div class="card-header"><i class="fas fa-plus-circle"></i> Tambah Data User</div>
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.name.label() }} {{ message }}
                    {{ form.name(class='form-control', placeholder='Nama') }}
                    {% if form.name.errors %}
                    <small class="form-text text-danger">
                        {% for error in form.name.errors %}
                        {{ error }}
                        {% endfor %}
                    </small>
                    {% endif%}
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.username.label() }} {{ message }}
                    {{ form.username(class='form-control', placeholder='Username') }}
                    {% if form.username.errors %}
                    <small class="form-text text-danger">
                        {% for error in form.username.errors %}
                        {{ error }}
                        {% endfor %}
                    </small>
                    {% endif%}
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.email.label() }} {{ message }}
                    {{ form.email(class='form-control',  placeholder='example@mail.com') }}
                    {% if form.email.errors %}
                    <small class="form-text text-danger">
                        {% for error in form.email.errors %}
                        {{ error }}
                        {% endfor %}
                    </small>
                    {% endif%}
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.password.label() }} {{ name }}
                    {{ form.password(class='form-control') }}
                    {% if form.password.errors %}
                    <small class="form-text text-danger">
                        {% for error in form.password.errors %}
                        {{ error }}
                        {% endfor %}
                    </small>
                    {% endif%}
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.confirm.label() }} {{ message }}
                    {{ form.confirm(class='form-control') }}
                    {% if form.confirm.errors %}
                    <small class="form-text text-danger">
                        {% for error in form.confirm.errors %}
                        {{ error }}
                        {% endfor %}
                    </small>
                    {% endif%}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form.submit(class='btn btn-primary btn-lg btn-block') }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}