{% extends 'admin_base.html' %}
{% block title %}Tampil Data Kategori{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-dismissible fade show alert-primary" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <strong>{{ message }}</strong>
</div>
{% endfor %}
<div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
        <div><i class="fas fa-table"></i> Data User</div>
        <div><a href="{{ url_for('admin.add_user') }}" class="btn btn-primary btn-sm"><i class="fas fa-plus-circle"></i>
                Tambah Data</a></div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nama User</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Role</th>
                        <th>Terakhir Terlihat</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nama User</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Role</th>
                        <th>Terakhir Terlihat</th>
                        <th>Aksi</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for data in data %}
                    <tr>
                        <td>{{ data.name }}</td>
                        <td>{{ data.username }}</td>
                        <td>{{ data.email }}</td>
                        <td>{% if data.confirmed == true %}Terkonfirmasi{% else %}Belum Konfirmasi{% endif %}</td>
                        <td>{{ data.role }}</td>
                        <td>{{ moment(data.last_seen).format('LLL') }}</td>
                        <td><a href="{{ url_for('admin.edit_user', username=data.username) }}">Edit</a> | <a
                                href="{{ url_for('admin.delete_user', username=data.username) }}">Delete</a> | <a
                                href="{{ url_for('admin.password_reset_request', username=data.username) }}">Reset
                                Password</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}