{% extends 'admin_base.html' %}
{% block title %}Tampil Data Produk{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-dismissible fade show alert-primary" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <strong>{{ message }}</strong>
</div>
{% endfor %}
<div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
        <div><i class="fas fa-table"></i> Data Product</div>
        <div>{% if category > 0 %}<a href="{{ url_for('admin.add_product') }}" class="btn btn-primary btn-sm"><i
                    class="fas fa-plus-circle"></i> Tambah Data</a>{% else %}<a
                href="{{ url_for('admin.add_category') }}" class="btn btn-primary btn-sm"><i
                    class="fas fa-plus-circle"></i> Tambah Kategori Terlebih Dahulu</a>{% endif %}</div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nama Product</th>
                        <th>Deskrispi</th>
                        <th>Kategori</th>
                        <th>Katalog</th>
                        <th>Gambar</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nama Product</th>
                        <th>Deskrispi</th>
                        <th>Kategori</th>
                        <th>Katalog</th>
                        <th>Gambar</th>
                        <th>Aksi</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for data in data %}
                    <tr>
                        <td>{{ data.title | title }}</td>
                        <td>
                            {% if data.description_html %}
                            {{ data.description_html | safe }}
                            {% else %}
                            {{ data.description }}
                            {% endif %}
                        </td>
                        <td>{{ data.category | title }}</td>
                        <td>{% if data.doc_filename is not none %}<a
                                href="{{ url_for('admin.view_document', filename=data.doc_filename) }}"
                                target="_blank">Lihat Dokumen</a>{% else %}Tidak ada katalog.{% endif %}</td>
                        <td><img src="{{ url_for('admin.load_image_product', filename=data.image_filename) }}" alt=""
                                width="80px"></td>
                        <td><a href="{{ url_for('admin.edit_product', slug=data.slug) }}">Edit</a> | <a
                                href="{{ url_for('admin.delete_product', slug=data.slug) }}">Hapus</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}