{% extends 'admin_base.html' %}
{% block title %}Tampil Data Kategori{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-dismissible fade show alert-primary" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <strong>{{ message }}</strong>
</div>
{% endfor %}
<div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
        <div><i class="fas fa-table"></i> Data Kategori</div>
        <div><a href="{{ url_for('admin.add_category') }}" class="btn btn-primary btn-sm"><i
                    class="fas fa-plus-circle"></i> Tambah Data</a></div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nama Kategori</th>
                        <th>Deskrispi</th>
                        <th>Gambar</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nama Kategori</th>
                        <th>Deskrispi</th>
                        <th>Gambar</th>
                        <th>Aksi</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for data in data %}
                    <tr>
                        <td>{{ data.name | title }}</td>
                        <td>{{ data.description }}</td>
                        <td><img src="{{ url_for('admin.load_image_category', filename=data.image_filename) }}"
                                alt="{{ data.image_filename }}" width="80px"></td>
                        <td><a href="{{ url_for('admin.edit_category', slug=data.slug) }}">Edit</a> | <a
                                href="{{ url_for('admin.delete_category', slug=data.slug) }}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}