{% extends 'admin_base.html' %}
{% block title %}Tampil Data Kontak{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-dismissible fade show alert-primary" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <strong>{{ message }}</strong>
</div>
{% endfor %}
<div class="card mb-3">
    <div class="card-header">
        <div><i class="fas fa-table"></i> Data Kontak</div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nama Kategori</th>
                        <th>Perusahan</th>
                        <th>Telepon</th>
                        <th>Email</th>
                        <th>Pesan</th>
                        <th>Waktu</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nama Kategori</th>
                        <th>Perusahan</th>
                        <th>Telepon</th>
                        <th>Email</th>
                        <th>Pesan</th>
                        <th>Waktu</th>
                        <th>Aksi</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for data in data %}
                    <tr>
                        <td>{{ data.name }}</td>
                        <td>{{ data.company }}</td>
                        <td>{{ data.telepon }}</td>
                        <td>{{ data.email[:20] }}...</td>
                        <td>{{ data.message[:140] }}...</td>
                        <td>{{ moment(data.create_on).format('LLL') }}</td>
                        <td><a href="mailto:{{ data.email }}">Kirim Pesan</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}