<hr>    
<footer class="site-footer mt-5">
        <div class="container">
            <div class="row justify-content-md-between">
                <div class="col-sm-12 col-md-4 mb-4">
                    <h3 class="h5 mb-3">Crowindo Jaya</h3>
                    <p class="text-muted">Merupakan perusahaan yang bergerak di bidang produk disposable, berdiri pada tahun 2010 di Bantul Yogyakarta.</p>
                </div>
                <div class="col-4 col-md-2 mb-4">
                    <h3 class="h5 mb-3">Tentang Kami</h3>
                    <ul class="nav flex-column">
                        <li class="mb-1"><a href="{{ url_for('main.about') }}#historis" class="text-muted">Historis</a></li>
                        <li class="mb-1"><a href="{{ url_for('main.about') }}#visi-misi" class="text-muted">Visi & Misi</a></li>
                        <li class="mb-1"><a href="{{ url_for('main.contact') }}" class="text-muted">Kerjasama</a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-2 mb-4">
                    <h3 class="h5 mb-3">Produk Kami</h3>
                    <ul class="nav flex-column">
                        {% for product in product %}
                            <li class="mb-1"><a href="{{ url_for('main.list_product', slug=product.slug) }}" class="text-muted">{{ product.name | title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-4 col-md-2 mb-4">
                    <h3 class="h5 mb-3">Narahubung</h3>
                    <ul class="nav flex-column">
                        <li class="mb-1"><a href="https://wa.me/6289657990968?text=Saya%20tertarik%20untuk%20bekerja%20sama" class="text-muted">WhatsApp</a></li>
                        <li class="mb-1"><a href="telp:+6281326540841" class="text-muted">Telepon</a></li>
                        <li class="mb-1"><a href="mailto:widi@crowindojaya.com" class="text-muted">Email</a></li>
                    </ul>
                </div>
            </div>

            <hr class="m-0">

            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-center mt-4">
                <p class="small text-muted">© Crowindo Jaya {{ moment().format('YYYY') }}</p>
                <ul class="list-inline">
                  <li class="list-inline-item">
                      <a href="https://wa.me/6289657990968?text=Saya%20tertarik%20untuk%20bekerja%20sama"><img src="{{ url_for('static', filename='images/whatsapp.svg') }}" alt="WhatsApp" class="icon-lg"></a>
                  </li>
                  <li class="list-inline-item">
                      <a href="https://fb.me/crowindo_jaya" target="_blank"><img src="{{ url_for('static', filename='images/facebook.svg') }}" alt="WhatsApp" class="icon-lg"></a>
                  </li>
                  <li class="list-inline-item">
                      <a href="https://instagram.com/crowindo_jaya" target="_blank"><img src="{{ url_for('static', filename='images/instagram.svg') }}" alt="WhatsApp" class="icon-lg"></a>
                  </li>
              </ul>
            </div>
        </div>
</footer>

<a href="https://wa.me/6289657990968?text=Saya%20tertarik%20untuk%20bekerja%20sama" class="float-button text-white" data-toggle="tooltip" data-placement="bottom" title="Chat with Us">
    <i class="fab fa-2x fa-whatsapp my-float-button"></i>
</a>