
<div class="container" id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-white my-3">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='images/logo-crowindo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
              Crowindo Jaya
            </a>
          
            <div class="collapse navbar-collapse right" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('main.category') }}">Produk Kami</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('main.about') }}">Tentang Kami</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.contact') }}">Hubungi Kami</a>
                  </li>
              </ul>
            </div>
        </nav>
</div>