<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Konfirmasi Akun {{ data.email }}</title>
</head>

<body>
    <h3>Halo, {{ data.name }}</h3>
    <p>Berikut ini informasi login anda:</p>

    <p>Email : {{ data.email }}</p>

    <p>Silahkan konfirmasi akun dengan mengikuti tautan dibawah ini:</p>
    <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">Konfirmasi</a>

    <hr>
    <small>Dikirim secara otomatis kepada {{ data.email }} pada {{ moment(data.create_on).format('LL') }}.</small>
</body>

</html>