<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password {{ user.email }}</title>
</head>

<body>
    <h3>Hello, {{ user.name }}</h3>

    <p>Silahkan lakukan reset password dengan mengikuti tautan ini <a
            href="{{ url_for('auth.password_reset', token=token, _external=True) }}">Reset Password</a></p>

    atau, copy dan paste link dibawah ini pada address bar:
    <p>{{ url_for('auth.password_reset', token=token, _external=True) }}</p>

    Jika anda tidak merasa meminta melakukan reset password, abaikan pesan ini.

    <hr>
    <small>Dikirim secara otomatis kepada {{ user.email }}.</small>
</body>

</html>