<!-- Sidebar -->
<ul class="sidebar navbar-nav">
  <li class="nav-item active">
    <a class="nav-link" href="{{ url_for('admin.index') }}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-folder"></i>
      <span>Konten</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <h6 class="dropdown-header">Kategori Produk</h6>
      <a class="dropdown-item" href="{{ url_for('admin.add_category') }}">Tambah Data</a>
      <a class="dropdown-item" href="{{ url_for('admin.view_category') }}">Lihat Data</a>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">Produk</h6>
      <a class="dropdown-item" href="{{ url_for('admin.add_product') }}">Tambah Data</a>
      <a class="dropdown-item" href="{{ url_for('admin.view_product') }}">Lihat Data</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('admin.view_contact') }}">
      <i class="fas fa-fw fa-envelope"></i>
      <span>Kontak</span></a>
  </li>
  {% if current_user.is_administrator() %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('admin.view_user') }}">
      <i class="fas fa-fw fa-user"></i>
      <span>User</span></a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.index') }}" target="_blank">
      <i class="fas fa-fw fa-link"></i>
      <span>Halaman Depan</span></a>
  </li>
</ul>