{% for message in get_flashed_messages() %}
    <div class="alert alert-dismissible fade show alert-primary" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <strong>{{ message }}</strong>
    </div>
{% endfor %}