<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

  <a class="navbar-brand mr-1" href="{{ url_for('admin.index') }}">Crowindo Jaya</a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Navbar -->
  <ul class="navbar-nav d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="{{ url_for('admin.profile', username=current_user.username) }}">Profile</a>
        <a class="dropdown-item" href="{{ url_for('admin.change_password') }}">Ganti Password</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
      </div>
    </li>
  </ul>

</nav>