{% extends 'main_base.html' %}
{% block title %}Forbiden!{% endblock %}
{% block content %}
<div class="container">
  <div class="py-5 d-flex justify-content-center">
    <h1>Forbiden</h1>
    <hr>
    <p><a href="{{ url_for('main.index') }}"></a>Kembali ke beranda.</p>
  </div>
</div>
{% endblock %}