{% extends 'main_base.html' %}
{% block head %}
<meta name="description"
    content="crowindojaya merupakan perusahaan yang bergerak di bidang produk disposable yang berdiri sejak 2010 di kota Yogyakarta. Produk-produk yang kami miliki antara lain adalah produk disposable">
<meta name="keyword" content="tentang crowindojaya, profile crowindojaya, crowindojaya jogja">
{% endblock %}
{% block title %}Tentang Crowindo Jaya{% endblock %}
{% block content %}
<div class="jumbotron background-header-about text-white">
    <div class="container">
        <h1 class="display-4"><strong>Tentang Kami</strong></h1>
        <h4>Kenal dengan kami, lebih dekat.</h4>
    </div>
</div>

<div class="container article py-4 text-center" id="historis">
    <h1><strong>Historis</strong></h1><br>
    <img src="{{ url_for('static', filename='images/logo-crowindo.png') }}" width="100" height="100" class="mx-auto"
        alt=""><br><br>
    <h5>CROWINDO JAYA merupakan perusahaan yang bergerak di bidang produk disposable, <br> berdiri pada tahun 2010 di
        Bantul Yogyakarta. Kami berkomitmen untuk menciptakan produk <br> dengan standar proteksi yang tinggi di
        industri makanan dan kesehatan</h5>
    <br>
</div>
<div class="container article py-4" id="visi-misi">
    <div class="row">
        <div class="col-md-6 col-sm-12 text-center">
            <h1><strong>Visi</strong></h1>
            <p>Menjadi perusahaan terbaik dan terbesar di bidang hygiene protection.</p>
        </div>
        <div class="col-md-6 col-sm-12 text-center">
            <h1><strong>Misi</strong></h1>
            <p>Mengutamakan kualitas untuk kepuasan pelanggan.
                <br> Memenuhi kebutuhan customer dengan standard internasional.
                <br> Berkembang dan tumbuh bersama mitra.
            </p>
        </div>
    </div>
</div>
<div class="container pt-4 pb-2">
    <div class="jumbotron background-contact-footer">
        <h1 class="display-4 text-white"><strong>Ajukan Kerjasama</strong></h1>
        <div class="">
            <a href="{{ url_for('main.contact') }}" class="btn btn-dark btn-lg my-2 mr-2">
                <span>Hubungi Kami</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}