{% extends 'main_base.html' %}
{% block head %}
<meta name="description"
  content="Tertarik untuk kerjasama ? hubungi kami dan tanyakan produk yang ingin anda ketahui melalu WhatsApp, email maupun telepon.">
<meta name="keyword" content="kontak crowindojaya, alamat crowindojaya, crowindojaya jogja">
{% endblock %}
{% block title %}Kontak Kami{% endblock %}
{% block content %}
<div class="jumbotron background-header-contact text-white">
  <div class="container">
    <h1 class="display-4"><strong>Hubungi Kami</strong></h1>
    <h4>Kenal dengan kami, lebih dekat.</h4>
  </div>
</div>

<div class="container py-4">
  <h1 class="mb-5"><strong>Tinggalkan Pesan</strong></h1>
  <div class="row py-4">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span>Narahubung</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">WhatsApp</h6>
            <a href="https://wa.me/681326540841?text=Saya%20tertarik%20untuk%20bekerja%20sama"><small
                class="text-muted">0813.2654.0841</small></a>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Telepon</h6>
            <a href="telp:+6281326540841"><small class="text-muted">0813.2654.0841</small></a><br>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Email</h6>
            <a href="mailto:widi@crowindojaya.com"><small class="text-muted">widi@crowindojaya.com</small></a>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <div>
            <h6 class="my-0">Alamat</h6>
            <small class="text-muted">Jipangan RT 04 Bangunjiwo Kasihan Bantul Yogyakarta</small>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.387647012636!2d110.32574501414405!3d-7.854435994340837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7af98022ac723d%3A0x1d9c7a7f84b27d48!2sCrowindojaya!5e0!3m2!1sid!2sid!4v1554036136557!5m2!1sid!2sid"
            width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </li>
      </ul>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Kirim Pesan</h4>
      {% for message in get_flashed_messages() %}
      <div class="alert alert-dismissible fade show alert-dark" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <strong>{{ message }}</strong>
      </div>
      {% endfor %}
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="row">
          <div class="col-md-6 mb-3">
            {{ form.name.label() }} {{ name }}
            {{ form.name(class='form-control', placeholder='Nama Personal') }}
            {% if form.name.errors %}
            <small class="form-text text-danger">
              {% for error in form.name.errors %}
              {{ error }}
              {% endfor %}
            </small>
            {% endif%}
          </div>
          <div class="col-md-6 mb-3">
            {{ form.company.label() }} {{ company }}
            {{ form.company(class='form-control', placeholder='Nama Perusahaan') }}
            {% if form.company.errors %}
            <small class="form-text text-danger">
              {% for error in form.company.errors %}
              {{ error }}
              {% endfor %}
            </small>
            {% endif%}
          </div>
        </div>

        <div class="mb-3">
          {{ form.telp.label() }} {{ telepon }}
          {{ form.telp(class='form-control', placeholder='Nomor Telepon') }}
          {% if form.telp.errors %}
          <small class="form-text text-danger">
            {% for error in form.telp.errors %}
            {{ error }}
            {% endfor %}
          </small>
          {% endif%}
        </div>

        <div class="mb-3">
          {{ form.email.label() }} {{ email }}
          {{ form.email(class='form-control', placeholder='email@domain.com') }}
          {% if form.email.errors %}
          <small class="form-text text-danger">
            {% for error in form.email.errors %}
            {{ error }}
            {% endfor %}
          </small>
          {% endif%}
        </div>

        <div class="mb-3">
          {{ form.message.label() }} {{ message }}
          {{ form.message(class='form-control', placeholder='Pesan Anda', rows=5) }}
          {% if form.message.errors %}
          <small class="form-text text-danger">
            {% for error in form.message.errors %}
            {{ error }}
            {% endfor %}
          </small>
          {% endif%}
        </div>
        {{ form.recaptcha }}
        <hr class="mb-4">
        {{ form.submit(class='btn btn-primary btn-lg btn-block') }}

      </form>
    </div>
  </div>
</div>
{% endblock %}