{% extends 'main_base.html' %}
{% block title %}Beranda{% endblock %}
{% block content %}
<div class="jumbotron background-header-home text-white">
  <div class="container">
    <h1><strong>
        <p>Crowindojaya.com <br> Produsen Produk Disposable
      </strong></h1>
    <h4>Menawarkan berbagai macam produk Disposable</h4>
    <div class="mt-4">
      {#<a href="{{ url_for('main.list_product') }}"
               class="btn btn-dark btn-lg my-2 mr-2">
              <span>Produk Kami</span>
            </a>#}
    </div>
  </div>
</div>

<div class="container article py-4">
  <div class="d-flex justify-content-center mb-4">
    <h1 class="font-weight-bold">Produk Kami</h1>
  </div>
  <div class="row">
    {% for data in data %}
    <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('admin.load_image_product', filename=data.image_filename) }}"
          alt="{{ data.image_filename }}">
        <div class="card-body">
          <h4 class="card-title">{{ data.title | title }}</h4>
          <div class="card-text mb-3">
            {% if data.description_html %}
            {{ data.description_html | safe }}
            {% else %}
            {{ data.description }}
            {% endif %}
          </div>
          {% if data.doc_filename is not none %}<a
            href="{{ url_for('main.detail_product', slug1=data.category_slug, slug2=data.product_slug) }}"
            class="btn btn-dark" target="_blank">Detail Produk</a>{% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!--
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner row w-100 mx-auto">
          {% for data in data %}
              <div class="carousel-item col-lg-3 col-md-6 col-sm-12 mb-5">
                  <div class="card">
                      <img class="card-img-top" src="{{ url_for('admin.static', filename='uploads/photos/'+data.image_filename) }}" alt="{{ data.image_filename }}">
                      <div class="card-body">
                      <h4 class="card-title">{{ data.title | title }}</h4>
                      <div class="card-text mb-3">
                          {% if data.description_html %}
                              {{ data.description_html | safe }}
                          {% else %}
                              {{ data.description }}
                          {% endif %}
                      </div>
                      {% if data.doc_filename is not none %}<a href="{{ url_for('main.detail_product', slug1=data.category_slug, slug2=data.product_slug) }}" class="btn btn-dark" target="_blank">Detail Produk</a>{% endif %}
                      </div>
                  </div>              
              </div>
          {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>-->
</div>

<div class="container pt-4 pb-2">
  <div class="jumbotron background-contact-footer">
    <h1 class="display-4 text-white"><strong>Ajukan Kerjasama</strong></h1>
    <div class="">
      <a href="{{ url_for('main.contact') }}" class="btn btn-dark btn-lg my-2 mr-2">
        <span>Hubungi Kami</span>
      </a>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    $(".carousel-inner .carousel-item").first().addClass("active");
    $("#myCarousel").on("slide.bs.carousel", function (e) {
      var $e = $(e.relatedTarget);
      var idx = $e.index();
      var itemsPerSlide = 4;
      var totalItems = $(".carousel-item").length;

      if (idx >= totalItems - (itemsPerSlide - 1)) {
        var it = itemsPerSlide - (totalItems - idx);
        for (var i = 0; i < it; i++) {
          // append slides to end
          if (e.direction == "left") {
            $(".carousel-item")
              .eq(i)
              .appendTo(".carousel-inner");
          } else {
            $(".carousel-item")
              .eq(0)
              .appendTo($(this).find(".carousel-inner"));
          }
        }
      }
    });
  });
</script>
{% endblock %}