{% extends 'main_base.html' %}
{% block head %}
<meta name="description" content="{%if category%}{{ category.0.description | title }}{%endif%}">
<meta name="keyword"
    content="jual disposable di jogja, jual spounbond di jogja, coat sekali pakai, jual Coverall produk disposable, produk crowindojaya">
{% endblock %}
{% block title %}Daftar Produk {%if category%}{{ category.0.name | title }}{%endif%}{% endblock %}
{% block content %}
<div class="container article py-5 text-center" id="produk">
    {%- for category in category %}
    <h1><strong>{{ category.name | title }}</strong></h1>
    <p>{{ category.description }}</p>
    {% endfor -%}
</div>
<div class="container article py-4">
    <div class="row">
        {%- for data in data %}
        <div class="col-md-6 col-sm-12 mb-5">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('admin.load_image_product', filename=data.image_filename) }}"
                    alt="{{ data.image_filename }}">
                <div class="card-body">
                    <h4 class="card-title">{{ data.title | title }}</h4>
                    <div class="card-text mb-3">
                        {% if data.description_html %}
                        {{ data.description_html | safe }}
                        {% else %}
                        {{ data.description }}
                        {% endif %}
                    </div>
                    {% if data.doc_filename is not none %}<a
                        href="{{ url_for('main.detail_product', slug1=data.category_slug, slug2=data.product_slug) }}"
                        class="btn btn-dark" target="_blank">Detail Produk</a>{% endif %}
                </div>
            </div>
        </div>
        {% endfor -%}
    </div>
</div>
{% endblock %}