<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {%- block head %}
  <meta name="description"
    content="Crowindojaya merupakan perusahaan yang bergerak di bidang produk disposable, menjual produk disposable dan spounbond di jogja">
  <meta name="keyword"
    content="jual disposable di jogja, jual spounbond di jogja, coat sekali pakai, Coverall disposable, crowindojaya">
  {% endblock -%}
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="Crowindo Jaya">
  <meta property="og:description"
    content="Crowindojaya merupakan perusahaan yang bergerak di bidang produk disposable, menjual produk disposable dan spounbond di jogja">
  <meta property="og:image" content="{{ url_for('static', filename='images/backgournd-crowindo.jpg') }}">
  <meta property="og:url" content="{{ url_for('main.index') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
  <title>{%- block title %}{% endblock %} | Crowindo Jaya</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap4-business-tycoon.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custome.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137381654-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-137381654-1');
  </script>
</head>

<body>
  {%- include 'includes/navbar.html' %}
  {%- block content %}{% endblock %}
  {%- include 'includes/footer.html' %}
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    }); {
      {
        moment.include_jquery()
      }
    } {
      {
        moment.include_moment()
      }
    } {
      {
        moment.locale("id")
      }
    }
  </script>
  {%- block script %}{% endblock %}
</body>

</html>