{% extends 'main_base.html' %}
{% block head %}
<meta name="description"
    content="crowindojaya menjual produk-produk disposable seperti coat, coverall serta shoes cover dan juga menjual produk spounbond di jogja, dan melayani pengiriman seluruh indonesia.">
<meta name="keyword"
    content="jual disposable di jogja, jual spounbond di jogja, coat sekali pakai, jual Coverall produk disposable, produk crowindojaya">
{% endblock %}
{% block title %}Produk Kami{% endblock %}
{% block content %}
<div class="container article py-5 text-center" id="produk">
    <h1><strong>Kategori Produk</strong></h1>
    <p>Berikut ini kategori produk dari kami.</p>
</div>
<div class="container article py-4">
    <div class="row">
        {% for data in data %}
        <div class="col-md-6 col-sm-12 mb-5">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('admin.load_image_category', filename=data.image_filename) }}"
                    alt="{{ data.image_filename }}">
                <div class="card-body">
                    <h4 class="card-title">{{ data.name | title }}</h4>
                    <p class="card-text">{{ data.description }}</p>
                    <a href="{{ url_for('main.list_product', slug=data.slug) }}" class="btn btn-dark">Detail Produk</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}