.float-button{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float-button{
	margin-top:13.5px;
}

.icon-lg {
	width: 1.33em;
}


.background-contact-footer{
	background-image:url(../images/partnership.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
}

.background-header-about{
	background-image:url(../images/about.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
}

.background-header-contact{
	background-image:url(../images/contact.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
}

.background-header-home{
	background-image:url(../images/backgournd-crowindo.jpg);
	height: 100%;
	background-position: top;
	background-repeat: no-repeat;
	background-size:cover;
}

div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}

/* show 4 items */
@media (min-width: 768px) {
	/* left or forward direction */
	/* farthest right hidden item must be absolue position for animations */
	/* right or prev direction */
	.carousel-inner .active, .carousel-inner .active + .carousel-item, .carousel-inner .active + .carousel-item + .carousel-item, .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
	  display: block;
	}
	.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left), .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item, .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item, .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
	  transition: none;
	}
	.carousel-inner .carousel-item-next, .carousel-inner .carousel-item-prev {
	  position: relative;
	  transform: translate3d(0, 0, 0);
	}
	.carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
	  position: absolute;
	  top: 0;
	  right: -25%;
	  z-index: -1;
	  display: block;
	  visibility: visible;
	}
	.active.carousel-item-left + .carousel-item-next.carousel-item-left, .carousel-item-next.carousel-item-left + .carousel-item, .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item, .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item, .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
	  position: relative;
	  transform: translate3d(-100%, 0, 0);
	  visibility: visible;
	}
	.carousel-inner .carousel-item-prev.carousel-item-right {
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: -1;
	  display: block;
	  visibility: visible;
	}
	.active.carousel-item-right + .carousel-item-prev.carousel-item-right, .carousel-item-prev.carousel-item-right + .carousel-item, .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item, .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item, .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
	  position: relative;
	  transform: translate3d(100%, 0, 0);
	  visibility: visible;
	  display: block;
	  visibility: visible;
	}
  }
  