{% extends 'auth_base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="card-header">Login</div>
<div class="card-body">
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-12 mb-3">
                {{ form.email.label() }}
                {{ form.email(class='form-control', placeholder='example@domain.com') }}
                {% if form.email.errors %}
                <small class="form-text text-danger">
                    {% for error in form.email.errors %}
                    {{ error }}
                    {% endfor %}
                </small>
                {% endif%}
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                {{ form.password.label() }}
                {{ form.password(class='form-control', placeholder='password') }}
                {% if form.password.errors %}
                <small class="form-text text-danger">
                    {% for error in form.password.errors %}
                    {{ error }}
                    {% endfor %}
                </small>
                {% endif%}
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                {{ form.remember_me.label() }}
                {{ form.remember_me() }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                {{ form.submit(class='btn btn-primary') }}
            </div>
        </div>
    </form>
</div>
{% endblock %}