{% extends 'auth_base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="card-header">Reset Password</div>
<div class="card-body">
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-12 mb-3">
                {{ form.password.label() }}
                {{ form.password(class='form-control') }}
                {% if form.password.errors %}
                <small class="form-text text-danger">
                    {% for error in form.password.errors %}
                    {{ error }}
                    {% endfor %}
                </small>
                {% endif%}
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                {{ form.password2.label() }}
                {{ form.password2(class='form-control') }}
                {% if form.password2.errors %}
                <small class="form-text text-danger">
                    {% for error in form.password2.errors %}
                    {{ error }}
                    {% endfor %}
                </small>
                {% endif%}
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                {{ form.submit(class='btn btn-primary') }}
            </div>
        </div>
    </form>
</div>
{% endblock %}